#options{
    width: 90%;
    height: 50px;
    margin: auto;
}

#options-container{
    margin: auto;
    left: calc(50vh-300px);
    background-color: green;
    width: 600px;
}

body{
    font-family: 'Roboto';
    color: rgb(230,230,230);
}

#header{
    width: 100%;
    height: 400px;
    background-image: url("images/background-header.jpeg");
    background-position-y: 30%;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 70px;
}

#background-cover{
    width: 100%;
    height: 400px;
    position: absolute;
    top: 0px;
    background-color: rgba(0,0,0,0.76);
}

#name{
    font-size: 100px;
    text-align: center;
    position: relative;
    top: 25px;
}

#welcome{
    font-size: 40px;
    text-align: center;
    position: relative;
    top: -5px;
}

.pdf{
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: calc(100% - 70px);
}

#go-back{
    color: rgb(70,70,70);
    position: absolute;
    top: 3px;
    left: 70px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
#go-back-buffer{
    height: 22px;
    width: 15px;
    position: absolute;
    top: 24px;
    left: 55px;
    cursor: pointer;
}
#go-back-icon{
    height: 22px;
    float: left;
    position: absolute;
    top: 24px;
    left: 25px;
    cursor: pointer;
}

#options{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
}

.option{
    width: 146px;
    height: 66px;
    float: left;
    position: relative;
    transition: 0.4s;
    border: 2px solid white;
    text-align: center;
    color: black;
}.option:hover{
    cursor: pointer;
    border-bottom-color: rgb(100,100,230);
    color: rgb(100,100,230);
    
}
a div{
    outline: none;
}

.option-text{
    position: relative;
    top: 7px;
    text-decoration: none;
}

@media screen and (max-width: 866px) {
    #welcome{
        display: none;
    }
}

#contacts{
    position: absolute;
    width: 1075px;
    display: flex;
    flex-direction: row;
    align-items: center;
    left: 32px;
    top: 7px;
}

.contact {
    display: flex;
    margin-right: 30px;
}

.icon {
    width: 50px;
    margin-right: 10px;
}

a{
    text-decoration: none;
    color: black;
}

#contacts-container{
    color: black;
    background-color: rgb(210,210,210);
    height: 65px;
    position: absolute;
    top: 470px;
    left: calc(50% - 560px);
    width: 1120px;
    align-items: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.contact-link{
    display: flex;
    flex-direction: row;
}

#contact-banner-left{
    height: 7px;
    width: calc(50% - 560px);
    position: absolute;
    top: 470px;
    left: 0;
    background-color: rgb(210,210,210);
}

#contact-banner-right{
    height: 7px;
    width: calc(50% - 560px);
    position: absolute;
    top: 470px;
    right: 0;
    background-color: rgb(210,210,210);
}